<%- include('partials/header') -%>
<style>
  * {
    margin: 0;
    padding: 0;
    list-style-type: none;
  }
  body {
    background: rgb(255, 255, 255);
  }
  ul {
    display: flex;
    width: 100%;
    
    margin: auto;
    background-color: skyblue;
    justify-content: space-between;
    text-align: center;
  }   
  li {
    
    text-transform: uppercase;
    cursor: pointer;
    color: #ebebeb;
    min-width: 80px;
    margin: auto;
  }
  
  li:hover {
    background-image: url("https://scottyzen.sirv.com/Images/v/button.png");
    background-size: 100% 100%;
    color: #27262c;
    animation: spring 300ms ease-out;
    text-shadow: 0 -1px 0 #ef816c;
    font-weight: bold;
  }
  li:active {
    transform: translateY(4px);
  }
  
  @keyframes spring {
    15% {
      -webkit-transform-origin: center center;
      -webkit-transform: scale(1.2, 1.1);
    }
    40% {
      -webkit-transform-origin: center center;
      -webkit-transform: scale(0.95, 0.95);
    }
    75% {
      -webkit-transform-origin: center center;
      -webkit-transform: scale(1.05, 1);
    }
    100% {
      -webkit-transform-origin: center center;
      -webkit-transform: scale(1, 1);
    }
  }
  
  .ratings i {
      font-size: 16px;
      color: red
  }
  
  .strike-text {
      color: red;
      text-decoration: line-through
  }
  
  .product-image {
      width: 100%
  }
  
  .dot {
      height: 7px;
      width: 7px;
      margin-left: 6px;
      margin-right: 6px;
      margin-top: 3px;
      background-color: blue;
      border-radius: 50%;
      display: inline-block
  }
  
  .spec-1 {
      color: #938787;
      font-size: 15px
  }
  
  h5 {
      font-weight: 400
  }
  
  .para {
      font-size: 16px
  }
  h5{
    text-align: center;
  }
  
  </style>
  <ul>
    <li onclick='window.location.href="/"'; style="padding:1rem 2rem 1.15rem";>Home</li>
    <li onclick='window.location.href="/products"'; style="padding:1rem 2rem 1.15rem";>Product</li>
    <li onclick='window.location.href="/staffs"'; style="padding:1rem 2rem 1.15rem";>Staff</li>
    <li onclick='window.location.href="/order"'; style="padding:1rem 2rem 1.15rem";>Order</li>
      
    <p><a href="/login">Login</a></p>
      <% if ( username ) { %>
          <div style="color: #2a38ff; text-align: left;">
              <br><P> <%=username%> </P>
          </div>
      <% }  %>
  </ul>
<% for (var i = 0; i < stafflist.length; i++) { %>

<div class="container mt-5 mb-5">
  <div class="d-flex justify-content-center row">
    <div class="col-md-10">
      <div class="row p-2 bg-white border rounded">
        <div class="col-md-3 mt-1"><img width="300px" height="200px" src="/images/<%= stafflist[i].urlImg%>"></div>
        <div class="col-md-6 mt-1">
            <h5><%= stafflist[i].Name %></h5>                                 
            <h5>&emsp;&emsp;&emsp;&emsp;&emsp;Information: &nbsp;<%= stafflist[i].Information%><br><br></h5>
        </div>
        <div class="align-items-center align-content-center col-md-3 border-left mt-1">                
          <div class="d-flex flex-column mt-4">
            </div>
        </div>
      </div>
    </div>
  </div>     
</div>
<% } %>

<%- include('partials/footer') -%>
